<div class="sk-three-bounce bright" *ngIf="isLoading">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
</div>
<div id="main_content_wrapper">
    <oc-title *ngIf="project" [title]="project.name" white=true></oc-title>

    <div id="document_list" *ngIf="project">
        <div *ngFor="let document of project.documents" (click)="openDocument(document.id)">
            <div class="card buttonized document">
                <div class="name">{{document.name}}</div>
                <div class="separator"></div>
                <div class="statistics_list">
                    <oc-project-card-statistic *ngIf="document.num_quotes" unit="Quote" [count]="document.num_quotes"></oc-project-card-statistic>
                    <oc-project-card-statistic *ngIf="document.num_codes" unit="Code" [count]="document.num_codes"></oc-project-card-statistic>
                    <oc-project-card-statistic *ngIf="document.num_memos" unit="Memo" [count]="document.num_memos"></oc-project-card-statistic>
                    <oc-project-card-statistic *ngIf="document.num_uncoded" unit="Uncoded" [pluralizeUnit]="false" [count]="document.num_uncoded"></oc-project-card-statistic>
                </div>
                <div class="card_timestamps">
                    <div *ngIf="document.created_at_i == document.updated_at_i">
                        Created {{document.created_at_i | fromnow}}
                    </div>
                    <div *ngIf="document.created_at_i != document.updated_at_i">
                        <div>
                            Updated {{document.updated_at_i | fromnow}}
                        </div>
                    </div>
                </div>
                <div class="card_button_container">
                    <button class="inside_card remove" (click)="onRemoveDocumentClicked($event, document.id)">Remove</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div (click)="toAddMode()">
            <div class="card buttonized add_document" >
                <div class="non_add_mode_content">+</div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<oc-modal-container #creationModal>
    <div class="input_group">
        <label for="document_name">Document Name*</label><br>
        <input type="text" id="document_name" class="input" [(ngModel)]="newDocumentName">
    </div>

    <div class="input_group">
        <label for="document_description">Document Description</label><br>
        <textarea id="document_description" class="input" [(ngModel)]="newDocumentDescription" rows=3></textarea>
    </div>
    <div class="input_group">
        <label>Quote Data(CSV)</label><br>
        <oc-csv-files-open #csvOpen></oc-csv-files-open>
    </div>
</oc-modal-container>

<oc-modal-container #alertModal>
    {{alert_message}}
</oc-modal-container>