<div id="main_content_wrapper">
    <oc-title *ngIf="project" [title]="project.name" white=true></oc-title>
    <table id="metainfo">
        <tr>
            <th>

            </th>
            <td>

            </td>
        </tr>
        <tr>
            <th>

            </th>
            <td>

            </td>
        </tr>
    </table>

    <div id="document_list" *ngIf="project">
        <div *ngFor="let document of project.documents" (click)="openDocument(document.id)">
            <div class="card buttonized document">
                <div class="name">{{document.name}}</div>
                <div class="separator"></div>
                <div class="statistics_list">
                    <oc-project-card-statistic *ngIf="document.num_quotes" unit="Quote" [count]="document.num_quotes"></oc-project-card-statistic>
                    <oc-project-card-statistic *ngIf="document.num_codes" unit="Code" [count]="document.num_codes"></oc-project-card-statistic>
                    <oc-project-card-statistic *ngIf="document.num_memos" unit="Memo" [count]="document.num_memos"></oc-project-card-statistic>
                </div>
                <div class="card_timestamps">
                    <div *ngIf="document.created_at_i == document.updated_at_i">
                        Created at {{document.created_at_i | fromnow}}
                    </div>
                    <div *ngIf="document.created_at_i != document.updated_at_i">
                        <div>
                            Updated {{document.updated_at_i | fromnow}}
                        </div>
                    </div>
                </div>
                <div class="card_button_container">
                    <button class="inside_card remove" (click)="onRemoveDocumentClicked($event, document.id)">Remove</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div (click)="toAddMode()">
            <div class="card buttonized add_document" >
                <div class="non_add_mode_content">+</div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<oc-modal-container #creationModal>
    <oc-file-open (documentOpened)="documentFileLoaded($event)"></oc-file-open>
</oc-modal-container>

<oc-modal-container #alertModal>
    {{alert_message}}
</oc-modal-container>