#document_list .card{
    width: 370px;
    height:160px;
}

#document_list .add_document{
    width: 160px;
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
}

#document_list .add_document:hover
{
    background: rgba(255,255,255,0.3);
}

#document_list .add_document *{
    pointer-events: none;
}

#document_list .add_document .non_add_mode_content
{
    font-size: 113px;
    text-align: center;
    color: rgba(0,0,0,0.5);
}

#document_list .document .name{
    font-size: 18px;
    font-weight: 300;
    color: #393939;
    padding-top: 2px;

}

#document_list .card_button_container{
    position: absolute;
    bottom: 12px;
    right: 10px;
}

#document_list .card_timestamps{
    position: absolute;
    bottom: 16px;
    font-size: 11px;
    font-weight: 400;
    color: #A7A7A7;
}