.input_group{
  margin-bottom: 20px;
}

.input_group:last-child{
  margin-bottom: 0px;
}

.input_group label{
  font-size: 14px;
  font-weight: 600;
  color: #575757;
} 

.input_group input, .input_group textarea{
  width:100%;
  margin-top: 6px;
}

input[type=text]{
  font-size: 15px;
  padding:5px;
  border-radius: 3px;
}