#top_bar{
    height: 32px;
    background: white;
    padding: 4px 6px;
    position: relative;
}

#top_bar .logo img{
  height: 100%;
}

#top_bar .user_panel{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}

#top_bar .user_panel table{
  height:100%;
}