.quote_list{
  font-family: 'KoPub Batang', serif;
  margin-bottom: 60px;
  table-layout: fixed;
  min-width:100%;
}

#wrapper{
  display:flex;
  height: calc(100% - 40px);
  background: #f9f9f9;
}

#lnb{
  flex: 0 0 47px;
  /*flex*/
  display:flex;
  flex-direction: column;
  -ms-flex-direction: column;
  /**/
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#342b40+0,6f3831+100 */
  background: #342b40; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #342b40 0%, #6f3831 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #342b40 0%,#6f3831 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #342b40 0%,#6f3831 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#342b40', endColorstr='#6f3831',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#lnb.expanded{
  flex: 0 0 260px;
}

#lnb .collapser{
    font-size: 12px;
    font-weight: 600;
    margin-top: 9px;
    color: #A97777;
    cursor: pointer;
}

#lnb .collapser:hover{
  text-decoration: underline;
  color: #BF9595;
}

#lnb #expander{
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 12px;
  cursor: pointer;
}

#lnb #expander:hover{
  background: rgba(255,255,255,0.1);
}

#lnb #logo{
  position:relative;
  padding: 9px 12px 0px 9px;
}

#lnb img{
  width: 100%;
}

#lnb_expander{
  position: absolute;
  width: 14px;
  background: rgba(255,255,255,0.2);
  height: 100%;
  top:0px;
  right:0px; 
  cursor: pointer;
}

#lnb_expander:hover{
  background: rgba(255,255,255,0.4);
}

#expanded_lnb_content_wrapper{
  padding-left: 12px;
  padding-right: 12px;
  
  /*flex*/
  display:flex;
  flex-direction: column;
  flex: 1;
}

#main{
  padding-left: 25px;
  padding-right: 12px;
  flex: 1 1;
  overflow-y: scroll;
 }

#sidebar{
  flex: 0 0 336px;
  overflow-y: scroll;
  border-left: 8px solid #e2dcdb;
  padding-left: 12px;
  padding-right: 12px;
}

.label_color_bullet{
  padding-left: 20px;
  margin-right: 4px;
}

.label_wrapper{
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
}

.separator{
  margin: 10px 6px;
  height: 1px;
  background: rgba(255, 255, 255, 0.18)
}

oc-memo-list{
  display:flex;
  flex-direction: column;
}