.add_new_memo{
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 188, 139, 0.71);
    cursor: pointer;
    margin-bottom: 5px;
}

.add_new_memo:hover{
    text-decoration: underline;
}

ul.memo-list{
    list-style-type: none;
    padding:0px;
    margin:0px;
    
    overflow-x: hidden;
    overflow-y: auto;
}

ul.memo-list li{
    margin-top: 20px;
}