/*td.label{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #575757;
  max-width: 60px;
}*/
  
td.content{
  font-size: 14px;
  width: 400px;
  padding-bottom: 12px;
  padding-top: 12px;
  line-height: 22px;
  color: #252525;
  width: 60%;
  padding-left: 12px;
  border-left: 4px solid #252525;
}
  
td.codes{
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
}

td.codes ul.code_list{
  list-style-type: none;
}

ul.code_list li.code_block{
  display: inline-block;
  margin: 7px 3px;
}

.code{
  padding: 4px 8px;
  background: #eaeaea;
  color: #252525;
  white-space:nowrap;
  border-radius: 4px;
}

.adding_panel{
  position:relative;
  float:left;
  clear:both;
}

td.codes .autocomplete_list{
  position:absolute;
  background: #fafafa;
  border: 1px solid #afafaf;
  border-top: hidden;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.23);
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.23);
}

td.codes .autocomplete_list ul{
  padding: 0px;
  position: relative;
  list-style-type: none;
}

td.codes .autocomplete_list li{
  cursor: pointer;
  width: 100%;
  margin: 0;
}

td.codes .autocomplete_list li div{
  padding: 6px;
}

td.codes .autocomplete_list li:last-child{
  margin-bottom: 0px;
}

td.codes .autocomplete_list li:hover{
  background: #525252;
  color: white;
}

